doctype html
html
    head
        title test task
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", crossorigin="anonymous")
        link(rel="stylesheet", href="css/main.css")
    body
        .container
            #app

        script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
        script(src="libs/vue.js")
        script(src="libs/d3.min.js")
        script(src="libs/c3.min.js")
        script(src="app.js")
